<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrderSystem.Properties.Settings.OrderSystemConnectionString"
            connectionString="Data Source=.;Initial Catalog=OrderSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>