<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="defaultFile" fileName="log/log-${shortdate}.log"
            layout="${date}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
    <target xsi:type="File" name="sysServicesFile" archiveAboveSize="10000" maxArchiveFiles="3" fileName="log/sysServices-${shortdate}.log"
            layout="${date}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
    <target xsi:type="Console" name="targetConsole"
            layout="${date}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="targetConsole" />
    <logger name="SystemServices.*" minlevel="Trace"  writeTo="sysServicesFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="defaultFile" />
  </rules>
</nlog>