<configuration>
  <connectionStrings>
    <add connectionString="server=127.0.0.1" name="conn1" providerName="mysql"/>
    <add connectionString="localhost:8080" name="connTest" providerName="sqlserver"/>
  </connectionStrings>
  <appSettings>
    <add  key="Server:name" value="yzk"/>
    <add  key="Server:age" value="20"/>
    <add  key="Server:proxy.address" value="192.168.1.5"/>
    <add  key="Server:proxy:port" value="8081"/>
    <add  key="Server:proxy:ids:0" value="3"/>
    <add  key="Server:proxy.ids:1" value="5"/>
  </appSettings>
</configuration>